@model ReceiptWebApp.ViewModels.ReceiptFormViewModel
@{
    ViewBag.Title = TempData["action"] + " recibo";
}
<h2>@TempData["action"] recibo</h2>
<hr />
@using (Html.BeginForm("Edit", "Receipts", new { id = "rForm" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.Id)
    <div class="row mt-3">
        <div class="col-md-6">
            <div class="form-group">
                @Html.LabelFor(m => m.Provider)
                @Html.DropDownListFor(m => m.Provider, new SelectList(Model.Providers, "Id", "Name"), "", new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Provider)
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Amount)
                @Html.TextBoxFor(m => m.Amount, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Amount)
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.CurrencyType)
                @Html.DropDownListFor(m => m.CurrencyType, new SelectList(Model.CurrencyTypes, "Id", "Name"), "", new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.CurrencyType)
            </div>
        </div>

        <div class="col-md-6">
            <div class="form-group">
                @Html.LabelFor(m => m.CreatedDate)
                @Html.TextBoxFor(m => m.CreatedDate, new { @class = "form-control", @id = "fecha" })
                @Html.ValidationMessageFor(m => m.CreatedDate)
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Comments)
                @Html.TextAreaFor(m => m.Comments, new { @class = "form-control" })
            </div>
        </div>
    </div>

    <button type="submit" class="btn btn-primary">@TempData["action"]</button>
}

@section scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $("#fecha").datetimepicker({
            locale: 'es-MX',
            format: "DD/MM/YYYY hh:mm A"
        });
    </script>
}

