@model IEnumerable<ReceiptWebApp.Models.Receipt>
@{
    ViewBag.Title = "Listado de recibos";
}

<h2>Listado de recibos</h2>
<hr />
<table id="list" class="table table-striped" style="width: 100%">
    <thead>
        <tr>
            <th>@Html.Label("Fecha")</th>
            <th>@Html.Label("Proveedor")</th>
            <th>@Html.Label("Monto")</th>
            <th>@Html.Label("Tipo de cambio")</th>
            <th>@Html.Label("Comentarios")</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var receipt in Model)
        {
            <tr>
                <td>
                    @receipt.CreatedDate.ToString("dd/MM/yyyy - hh:mm tt")
                </td>

                <td>
                    @receipt.Provider.Name
                </td>

                <td>
                    $@receipt.Amount
                </td>

                <td>
                    @receipt.CurrencyType.Name
                </td>


                @if (String.IsNullOrEmpty(receipt.Comments))
                {
                    <td>-</td>
                }
                else
                {
                    <td>@receipt.Comments</td>
                }
                <td>
                    <a href="@Url.Action("Edit", "Receipts", new { id = receipt.Id })" title="Editar">
                        <i class="glyphicon glyphicon-pencil"></i>
                    </a> |
                    <a href="#" class="deactivate-receipt glyphicon glyphicon-trash" data-receipt-id="@receipt.Id" title="Eliminar">
                    </a>
                </td>

            </tr>
        }
    </tbody>

</table>

@section scripts {

    <script>
        //Opción DT utilizando el modelo de la vista.
        $('#list').DataTable({
            "language": {
                url: "//cdn.datatables.net/plug-ins/1.10.19/i18n/Spanish.json"
            },
            destroy: true,
            "scrollY": "230px",
            "scrollX": true,
            "scrollCollapse": true,
            "pageLength": 25
        });

        //Opción DT usando API.
        //Endpoint para llenar DT funciona.
        //jQuery no escucha el evento de click en delete de esta manera. La edición funciona.

        //$('#list').DataTable({
        //    ajax: {
        //        "url": "/api/receipts/getall",
        //        "type": "GET",
        //        "error": function (e) {
        //        },
        //        "dataSrc": function (d) {
        //            return d
        //        }
        //    },
        //    columns: [
        //        { data: 'CreatedDate' },
        //        { data: 'Provider.Name' },
        //        { data: 'Amount' },
        //        { data: 'CurrencyType.Name' },
        //        { data: 'Comments' },
        //        {
        //            "render": function (data, type, full, meta) {
        //                var actions = '<a href="/Receipts/Edit/' + full.Id + '" title="Editar"><i class="glyphicon glyphicon-pencil"></i></a> |';
        //                actions += '<a href="#" class="deactivate-receipt glyphicon glyphicon-trash" data-receipt-id="' + full.Id + '" title="Eliminar"></a>';

        //                return actions;
        //            }
        //        }
        //    ]
        //});

    </script>

    <script>
        function refreshWindow() {
            location.reload();
        }

        $(".deactivate-receipt").click(function (e) {
            Swal.fire({
                title: 'Eliminar recibo',
                text: "¿Está seguro de eliminar el recibo?",
                type: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Eliminar',
                cancelButtonText: 'Cancelar'
            }).then((result) => {
                if (result.value) {
                    var id = $(e.target).attr("data-receipt-id");
                    $.ajax({
                        url: "/api/receipts/" + id,
                        method: "DELETE"
                    })
                    .done(function () {
                        Swal.fire({
                            title: 'Recibo eliminado',
                            text: 'El recibo ha sido eliminado satisfactoriamente.',
                            type: 'success',
                            onClose: () => {
                                refreshWindow();
                            }
                        })

                    })
                    .fail(function () {
                        Swal.fire(
                            'Error',
                            'Ocurrió un problema al intentar eliminar el recibo.',
                            'error'
                        )
                    });
                    
                }
            })
        });
    </script>

    @if (ViewBag.Response != null)
    {
        <script>
            Swal.fire({
                type: "@ViewBag.Response.AlertType",
                title: "@Html.Raw(ViewBag.Response.Title)",
                text: "@Html.Raw(ViewBag.Response.Message)"
            })
        </script>
    }
}

